<div class="jw-table" nggcontroller="NoDbController">
    <table class="ui mini table segment collapsing">
        <thead>
            <tr>
                <th>#</th>
                <th>
                    <i class="ui time icon"></i>  Create
                </th>
                <th>Template</th>
                <th>Connote</th>
                <th>Status</th>
                <th><i class="ui user icon"></i>Scan</th>

                <th>Local A</th>
                <th>Local B</th>
                <th>ECM</th>
                <th> <i class="ui time icon"></i> Upload</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="info in records" class="">
                <td>{{$index+1}}</td>
                <td>{{info.JwCreateDate | date:"yyyy/MM/dd HH:mm:ss"}}</td>
                <td>{{info.Template}}</td>
                <td>{{info.MainInfo.ConNumber}}</td>
                <td ng-value="{{info.Status}}"><span>{{info.Status}}<span></td>
                <td>{{info.AuthenUser}}</td>

                <td> <i class="ui ok circle green icon"></i>  </td>
                <td> <i class="ui ok circle red icon"></i>  </td>
                <td> <i class="ui ok circle red icon"></i>  </td>
                <td>{{info.JwUploadDate | date:"yyyy/MM/dd HH:mm:ss" }}</td>
            </tr>
        </tbody>
    </table>
</div>
